.snackbar-content{
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 5px 10px;
}

.snackbar-message, .snackbar-actions{
    width: 100%;
}

.snackbar-actions{
    display: flex;
    margin-top: 20px;
    justify-content: flex-end;
}

