<mat-card>
    <mat-card-content>
        <form (ngSubmit)="onSubmit()" [formGroup]="form">
            <h2>Log In</h2>
            <mat-error *ngIf="!loginValid">
                {{errorMsg}}
            </mat-error>
            <mat-form-field appearance="standard">
                <mat-label>Email</mat-label>
                <input matInput placeholder="Email" name="email" formControlName="email" required>
                <mat-icon matSuffix>email</mat-icon>
                <mat-error>
                    Please provide a valid email address
                </mat-error>
            </mat-form-field>

            <mat-form-field appearance="standard">
                <mat-label>Password</mat-label>
                <input matInput type="password" placeholder="Password" formControlName="password" name="password"
                    required>
                <mat-icon matSuffix>password</mat-icon>
                <mat-error>
                    Please provide a valid password
                </mat-error>
            </mat-form-field>
            <div class="etc">
                <a mat-flat-button [routerLink]="'/register'"><mat-icon>app_registration</mat-icon> Register</a>
            </div>
            <button mat-raised-button color="primary">Login</button>
        </form>
    </mat-card-content>
</mat-card>